@import "./Vars.scss";
@import "./Media.scss";

body{
  margin: 0px;
  background-color: $main-color;
  font-family: $theme-font;   
}
@mixin flex{
  display: flex;
  align-items: center;
}